

.main {
    padding: 30px 0;
    position: relative;
    /* overflow: hidden; */
    /* padding-bottom: 100px; */
    z-index: 5;
}

/* .main::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../images/svg/divisor-8.svg") center no-repeat;
    background-size: cover;
} */

.logo {
    width: 290px;
    height: 40px;
    margin: 0 auto;
    z-index: 5;
    position: relative;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}


.forget {
    background: #4B0B90;
    min-height: calc(100vh - 100px);
    position: relative;
    padding-top: 70px;
    /* overflow: hidden; */
    z-index: -1;
}

.forget::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: url("../images/svg/divisor-8.svg") center no-repeat;
    background-size: cover;
}

.forget::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 330px;
    height: 250px;
    background: url("../images/svg/top.svg") no-repeat center;
    background-size: contain;
    /* z-index: -2; */
}


.forget_wrap {
    position: relative;
    z-index: 2;
}

.content_body {
    position: relative;

}

.content_body {
    padding: 50px 0;
}

.content_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 5px;
    color: #fff;
}

.content_sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 30px;
    color: #fff;
}

.form_input {
    position: relative;

    margin-bottom: 15px;
}

.form_input label {
    display: block;
    position: absolute;
    top: -7px;
    left: 10px;
    background: #4B0B90;
    color: #fff;
    padding: 2px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.form_input input {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    color: #fff;
    border: 3px solid #fff;
    background: transparent;
    width: calc(100% - 36px);
}

.form_input input::placeholder {
    color: #ffff;
}

.input_icon {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 25px;
    height: 15px;
    cursor: pointer;
}

.input_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.forget_pass {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    text-align: right;
    display: block;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 20px;
    color: #fff;
}

.submit_btn {
    display: block;
    background: #DD261D;
    padding: 10px;
    width: calc(100% - 0px);
    max-width: 330px;
    border: 1px solid #FF362A;
    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;

    margin: 30px auto 10px auto;
    text-align: center;
}

.register_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    display: block;
    color: #fff;
    text-align: center;
    margin: 45px 0 50px;
}

.register_link a {
    text-decoration: underline;
    color: #fff;
}

.footer_text {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    color: #fff;
}

.footer_text span {
    font-weight: 900;
}

/* Error =========== */

.form_input.error input {
    border-color: #DD261D;
}

.error_text {
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2;
    color: #DD261D;
    margin-top: 5px;
    display: none;
}

.form_input.error .error_text {
    display: block;
}


/* Medai Query ====================== */

@media screen and (max-width: 750px) {
    .auto_container {
        padding: 0 20px;
    }

    .forget::before {
        height: 125px;
        top: -2px;
        width: calc(100% + 0px);
    }

    /* .main {
        padding: 15px 0;
    } */

    .forget::after {
        width: 230px;
        height: 175px;
    }

    .form {
        position: relative;
        z-index: 4;
    }


}

@media screen and (max-width: 450px) {
    /* .logo {
        width: 230px;
    } */

    .forget {
        min-height: calc(100vh - 125px);
        padding-top: 25px;
    }

    /* .forget::before {
        height: 60px;
        top: -1px;
        clip-path: polygon(0 0, 0 50%, 100% 0);
        -ms-clip-path: polygon(0 0, 0 50%, 100% 0);
        -moz-clip-path: polygon(0 0, 0 50%, 100% 0);
        -o-clip-path: polygon(0 0, 0 50%, 100% 0);
        -webkit-clip-path: polygon(0 0, 0 50%, 100% 0);
    } */

    .register_link {
        margin: 25px 0;
    }

}